<div class="main_sub_container">
	

  <div class="" id="reg_form">

		<form  action="/admin/users/edit_profile" name="edit_profile" onsubmit="return validation()" method="post" >
			 {{#if errors.length}}
			{{#each errors}}
			<div class="alert">
				<span class="cls_btn" onclick="this.parentElement.style.display='none';">&times;</span>
				<span class="alert_msg">{{this}}</span>
			</div>
			<br>
			{{/each}}
			{{/if}}
			<div class="edit_input">
				<label class="lead" for="first name">Name</label><br>
			    <input  type="text" value='{{name}}' name="name">	
			</div>
			<div class="edit_input">
				<label class="lead" for="surname">Surname</label><br>
			    <input  type="text" value="{{surname}}" name="surname">	
			</div>
			<div class="edit_input">
				<label class="lead" for="Cell number">Cell</label><br>
			    <input  type="text" value="{{cell}}" name="cell">	
			</div>
		    <div class="edit_input">
			    <label class="lead" for="Email">Email</label><br>
			    <input  type="email" name="email" value="{{email}}">	
		    </div>
		    <div class="edit_input">
			    <label class="lead" for="password">Change password</label><br>
			    <input type="password" name="password">
		    </div>

		     <div class="edit_input">
			    <label class="lead" for="position">Position</label><br>
			    <input  type="text" name="position" value="{{Position}}">	
		    </div>
		     <div class="edit_input" >
			     <label class="lead" for="About">Write about your career and department</label><br>
			     <textarea type="text"  name="about" rows="8" class="input_area"  placeholder="write briefly about you and your career">{{about}}</textarea>
			    <script type="text/javascript">CKEDITOR.replace('about');</script>	
		    </div>
		     <div class="edit_input">
		    <label class="lead" for="admin_power">Choose Department</label><br>
		    <select  name="department" id="department" >
		    	<option value="{{department}}">{{department}}</option>
		    	{{#each departments}}
                 <option  Value="{{this.value}}">{{this.Name}}</option>
		    	{{/each}}
		    </select>
		    </div>
           
           <div class="edit_input">
           	{{#if image}}
           	<img src="/admin/{{id}}/{{image}}" id="user_current_image" alt="couldnt load user image" style="height: 250px; width: auto;display: block;">
           	{{else}}
           	 <img src="/images/users/not_logged.png"  id="user_current_image" alt="couldnt load user image" style="height: 250px; width: auto;display: block;">
           	{{/if}}
           	  <label id="image_label" class="lead">Choose image</label><br>
           	   <canvas id="img_canvas" style="border:1px solid;"></canvas>
	            <div id="image_crop">
			  	 <div id="image_frame" style="border: 2px black">
				  	<div id="crop_frame" style="border: 2px black">
				  	</div>
			    </div>
			    <button type="button" onclick="draw_canvas()">crop</button>
			  </div>
	          <textarea name="image" id="base64_data" style="width: 200px;"></textarea>
           	<input type="file" id="change_img" onchange="prev(event,1)">
           </div>
          
          
            <input type="hidden" value="{{id}}" name="id">
              <br><br><br>
		    <button type="submit">submit</button>
		    
		    
		</form>	
       <script type="text/javascript" src="/javascripts/crop2.js"></script>
		</div>


   </div>
  </div>P